.contact {
  max-width: calc(100% - 80px);
  width: 100%;

  margin: -20px auto 40px;
  background-color: var(--color-white);
  padding: 40px;
  position: relative;
  z-index: 4;
  @media (max-width: 1200px) and (min-width: 992px) {
    max-width: calc(100% - 160px);
  }
  @media (max-width: 991px) {
    max-width: calc(100% - 32px);
    padding: 16px 16px 32px;
  }
  &.full-col {
    padding: 80px calc((1 / 12) * 100%);
    margin-bottom: 0;
    .contact-wrapper {
      .head {
        margin-bottom: 24px;
        .title {
          margin-bottom: 24px;
        }
      }
      .foot {
        h4 {
          font-size: 16px;
          line-height: 28px;
          font-weight: bold;
          color: var(--color-black);
        }
        ul {
          list-style-type: disc;
          padding-left: 20px;
          li {
            & > * {
              font-size: 16px;
              line-height: 28px;
              font-weight: 400;
              color: var(--color-black);
            }
          }
        }
      }
    }
  }
  &-title {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  &-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  &-left {
    .list-field {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 20px;

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }

      &.full-width {
        grid-template-columns: 1fr;
      }
    }
    .field-item {
      position: relative;
      input {
        height: 44px;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: var(--color-black);
        padding: 8px 24px;
        width: 100%;
      }

      input,
      textarea {
        & + label {
          color: var(--color-black);
          background-color: var(--color-white);
          padding: 0 8px;
        }
        &:focus-visible,
        &:not(:placeholder-shown) {
          & + label {
            transform: translateY(-50%);
            font-size: 12px;
            line-height: 14px;
            top: 0;
          }
        }
      }

      &.checkbox {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          appearance: none;
          width: 18px;
          height: 18px;
          min-width: 18px;
          min-height: 18px;
          padding: 0;
          border-radius: 0px;
          transition: all 0.3s ease;
          position: relative;

          cursor: pointer;
          border: 1px solid var(--color-black);
          &:checked {
            &::before {
              opacity: 1;
              visibility: visible;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background-image: url("../../images/icons/icon-tick.svg");
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        label {
          position: static;
          transform: translate(0);
          pointer-events: auto;
          a {
            color: var(--color-gold);
            position: relative;
            &:hover {
              &::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: var(--color-gold);
              bottom: 0px;
              left: 0;
              transform: scaleX(0);
              transform-origin: bottom right;
              transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
          }
        }
      }

      textarea {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: var(--color-black);
        padding: 8px 24px;

        & + label {
          top: 8px;
          transform: translate(0);
        }
      }

      label {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.4s ease;
        span {
          color: #ff0000;
        }
      }
    }
  }
  &-right {
    padding-left: calc(calc(1 / 12) * 100% + 20px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 991px) {
      padding-left: 0;
      gap: 32px;
    }
  }
  &-heading {
    margin-bottom: 24px;
  }
  &-info {
    ul,
    li {
      gap: 8px;
    }
  }
  &-social {
    ul {
      gap: 20px;

      a {
        &:hover {
          color: var(--color-gold);
        }

        * {
          transition: all 0.4s ease;
        }
      }
    }
  }
}
