.contact {
  max-width: calc(100% - 80px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  background-color: var(--color-white);
  padding: 40px;
  position: relative;
  z-index: 4;
  &-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &-right {
    padding-left: calc(calc(1 / 12) * 100% + 20px);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &-heading {
    margin-bottom: 24px;
  }
  &-info {
    ul,
    li {
      gap: 8px;
    }
  }
  &-social {
    ul {
      gap: 20px;
    }
  }
}
