.hero {
  position: relative;
  width: 100%;
  height: 100dvh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 54%
    );
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
  }

  &.has-slider {
    height: 100dvh;
  }

  &.short-banner {
    height: 640px;

    &::before {
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.2);
      opacity: 1;
    }

    .hero__image {
      height: 640px !important;

      img {
        height: 640px !important;
      }
    }
  }

  .hero-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (max-width: 991px) {
    // height: 540px !important;
    max-height: 100dvh;
  }

  &__image {
    width: 100%;
    height: 100dvh !important;

    @media (max-width: 991px) {
      // height: 540px !important;
      max-height: 100dvh;
    }

    img {
      width: 100%;
      height: 100dvh !important;
      object-fit: cover;

      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-delay: 2000ms !important;
      transition-duration: 10000ms !important;

      @media (max-width: 991px) {
        // height: 540px !important;
        max-height: 100dvh;
      }
    }
  }

  &__content {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: unset;
    bottom: calc(66px + 40px + 24px);
    transform: translate(-50%, 0);

    h2 {
      font-style: italic;
    }

    &.center {
      top: calc(50% + 60px - 40px);
      bottom: unset;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 991px) {
      bottom: 100px;
      max-width: calc(100% - 32px);
      width: 100%;
    }
  }

  .swiper-slide-active img,
  .swiper-slide-duplicate-active img {
    transition-delay: 0s !important;
  }

  .swiper-arrow {
    margin-top: -24px;
    width: auto;
    height: auto;
    padding: 24px;
    @media (max-width: 991px) {
      display: none;
    }
    &::after {
      font-size: 0;
      content: unset;
    }
    &.swiper-button-next {
      right: 0;
    }
    &.swiper-button-prev {
      left: 0;
    }
    svg {
      width: 8px;
      height: 32px;
    }
  }
  .video {
    width: 100%;
    height: 100%;
    position: relative;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
