.list-detail {
  &-box {
    padding: 80px;
    background-color: var(--color-white);
    height: 100%;
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 48px;
    }
    @media (max-width: 991px) {
      padding: 24px 24px 48px;
    }
  }
  &-item {
    min-height: 550px;
    @media (max-width: 991px) {
      min-height: auto;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    min-height: 550px;

    @media (max-width: 991px) {
      min-height: 500px;
    }

    @media (max-width: 767px) {
      min-height: 375px;
    }

    .slider-wrapper,
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper {
      aspect-ratio: 823 / 600;
      &-slide {
        @media (min-width: 992px) {
          width: 100% !important;
        }
      }
      @media (max-width: 767px) {
        aspect-ratio: 375 / 322;
      }
    }
  }
  .title {
    margin-bottom: 24px;
  }
  .desc {
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }
  .table-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .table-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
      .name {
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        line-height: 24px;
        font-family: var(--font-body);

        min-width: max-content;
      }
      .value {
        & > * {
          text-align: right;
          color: var(--color-black);
          font-size: 13px;
          line-height: 24px;
          font-family: var(--font-body);
        }
      }

      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: var(--color-black);
          bottom: 0;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover {
          &::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
  .list-btn {
    padding-top: 40px;

    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    @media (max-width: 991px) {
      padding-top: 32px;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
