.newsDetail {
  &-container {
    padding: 120px 80px 0 40px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    @media (max-width: 991px) {
      padding: 120px 16px 0;
      display: flex;
      flex-direction: column-reverse;
      gap: 48px;
    }
    .col-left {
      padding: 24px;
      background-color: var(--color-white);
      height: max-content;
      position: sticky;
      top: 140px;
      @media (max-width: 991px) {
        position: static;
      }
      &__item {
        padding: 25px 0;
        border-bottom: 1px solid rgba(118, 120, 122, 0.2);

        .name {
          margin-bottom: 12px;
          text-transform: uppercase;
        }

        .desc {
          font-size: 13px;
          line-height: 24px;
          letter-spacing: 0.65px;

          a {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: var(--color-black);
              bottom: 0;
              left: 0;
              transform: scaleX(0);
              transform-origin: bottom right;
              transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            &:hover {
              &::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }
        }

        &:first-child {
          padding-top: 0;
        }
      }
    }

    .col-right {
      padding-left: 80px;
      @media (max-width: 991px) {
        padding-left: 0;
      }
      .date {
        margin-bottom: 8px;
      }

      .title {
        margin-bottom: 24px;
      }

      .content {
        p {
          margin-bottom: 24px;
        }

        h1,
        h2,
        h3 {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 24px;
          font-weight: 600;
        }

        h4,
        h5,
        h6 {
          font-weight: bold;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 4px;
        }

        ul {
          list-style: disc;
        }

        ol {
          list-style: decimal;
        }

        ul,
        ol {
          padding-left: 24px;
        }

        a {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: var(--color-black);
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &:hover {
            &::before {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }
}
