.offers {
  &-container {
    padding: 120px 40px;

    .filter-section {
      padding: 10px 0;
      background-color: #f2f2f2;
      margin: 50px 0;

      position: sticky;
      z-index: 4;
      top: 60px;
    }

    .filter-list-button {
      gap: 40px;
      margin-bottom: 46px;

      .filter-button {
        cursor: pointer;
      }
    }

    .filter-section-result {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .moreInfo-list__item {
        .item-image {
          aspect-ratio: 440 / 480;
        }
      }
    }
  }
}
