.accommodationPage {
  padding: 120px 0;
  @media (max-width: 991px) {
    padding: 64px 0;
  }
  .section-title {
    padding: 0 40px;
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 0 80px;
    }
    @media (max-width: 991px) {
      padding: 0 16px;
    }
  }

  .filter-list-button {
    gap: 40px;
    @media (max-width: 991px) {
      gap: 32px;
      overflow-x: scroll;
      padding-right: 16px;
      padding-left: 16px;
      justify-content: start !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .filter-button {
      cursor: pointer;
      white-space: nowrap;
    }
  }

  .filter-section {
    padding: 10px 0;
    background-color: #f2f2f2;
    margin: 50px 0;

    position: sticky;
    z-index: 4;
    top: 60px;
    @media (max-width: 991px) {
      top: 76px;
    }
  }

  .filter-section-result {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 40px;
    padding: 0 40px;
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 0 80px;
    }
    @media (max-width: 991px) {
      padding: 0 16px;
      flex-direction: column;
      gap: 48px;
    }
    .accommodationCard {
      width: calc(calc(100% - 40px) / 2);
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}

.accommodationCard {
  .card {
    &-media {
      .swiper {
        width: 100%;
        aspect-ratio: 660 / 470;
      }
    }

    &-content {
      margin: 24px auto 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      max-width: calc(calc(100% / 6) * 4);
      @media (max-width: 1200px) and (min-width: 992px) {
        margin: 24px 16px 0;
        max-width: 100%;
      }
      @media (max-width: 991px) {
        max-width: 100%;
        margin: 0;
        padding: 24px 24px 0;
      }
    }
  }

  .title {
    transition: color 0.4s ease;

    &:hover {
      color: var(--color-gold);
    }
  }

  .info {
    margin-top: 15px;
    gap: 12px 32px;
    justify-content: center;

    @media (max-width: 991px) {
      gap: 12px 16px;
    }
    li {
      display: flex;
      align-items: center;
    }

    img {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      object-fit: cover;
      margin-right: 12px;
      @media (max-width: 991px) {
        margin-right: 6px;
      }
    }
  }

  .desc {
    margin-top: 24px;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }

  .cta {
    gap: 40px;
    margin-top: auto;

    a {
      color: var(--color-gold);

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #b39c79, $alpha: 0.2);
      }

      &::before {
        background-color: var(--color-gold);
      }
    }
  }
}
