.position-hiring {
  padding: 0 40px 120px;

  &.has-spacing-top {
    padding-top: 120px;
  }

  &__container {
    padding: 60px 116px;
    background-color: var(--color-white);
  }

  &__main {
    margin-top: 60px;

    .position-filter {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 150px 150px;
      padding-bottom: 20px;
    }

    .position-list {
      &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 150px 150px;
        padding: 20px 0;
        border-top: 1px solid rgba(118, 120, 122, 0.2);

        .name {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-gold);
          }
        }

        .btn-popup {
          width: max-content;
          margin-left: auto;
        }
      }
    }
  }

  .dropdown-custom-select {
    border: none;
    color: var(--color-black);
    width: max-content;
    position: relative;
  }

  .dropdown-custom-btn {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 8px;

    img {
      flex-shrink: 0;

      width: 9px;
      height: 6px;
      transform: translateY(1px);
    }
  }

  .dropdown-custom-menu {
    position: absolute;
    top: 100%;
    left: -24px;
    width: 100%;
    margin-top: 1px;
    background-color: #f8f5f1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 24px;
    min-width: max-content;

    &.dropdown--active {
      opacity: 1;
      visibility: visible;
    }
  }

  .dropdown-custom-item {
    cursor: pointer;
  }
}
