.accommodations {
  @media (max-width: 991px) {
    .swiper-wrapper {
      align-items: stretch;
    }
    .swiper-slide {
      height: auto;
    }
  }
  &-container {
    padding: 120px 40px;
    background-color: #f2f2f2;
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 120px 80px;
    }
    @media (max-width: 991px) {
      padding: 64px 0px;
      .section-title {
        padding: 0 16px;
      }
    }
  }
  &.pt-mobile-0 {
    .accommodations-container {
      @media (max-width: 991px) {
        padding-top: 0;
      }
    }
  }
  &-main {
    margin-top: 60px;

    .filter-list-button {
      gap: 40px;
      margin-bottom: 46px;
      @media (max-width: 991px) {
        gap: 32px;
        overflow-x: scroll;
        padding-right: 16px;
        padding-left: 16px;
        justify-content: start !important;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .filter-button {
        cursor: pointer;
        @media (max-width: 991px) {
          white-space: nowrap;
        }
      }
    }

    .filter-item {
      .accommodations-slider {
        position: relative;
      }

      .swiper-action {
        display: flex;
        align-items: center;
        gap: 16px;

        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: 991px) {
          position: static;
          justify-content: center;
          margin-top: 24px;
        }
        .swiper-pagination {
          width: max-content;
          position: unset;
          transform: none;

          font-size: 13px;
          line-height: 24px;
          font-weight: 600;
        }

        .swiper-button-next,
        .swiper-button-prev {
          position: unset;
          transform: none;
          align-items: center;
          height: 24px;
          margin: 0;

          svg {
            height: 8px;
          }

          &::after {
            display: none;
          }

          color: var(--color-black);
        }
      }
    }
  }
}

.boxGallery {
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 991px) {
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
    .box-content {
      flex: 1;
    }
  }
  .box {
    &-media {
      width: calc(calc(100% / 12) * 7.5);
      margin-right: calc(calc(100% / 12) * 4.5);
      @media (max-width: 991px) {
        width: 100%;
        margin-right: 0;
      }
      .swiper {
        width: 100%;
        aspect-ratio: 845 / 560;
        @media (max-width: 1200px) and (min-width: 992px) {
          aspect-ratio: 845 / 700;
        }
      }

      .swiper-arrow.arrow-next {
        right: 40px;
        @media (max-width: 991px) {
          right: 0px;
        }
      }
      .swiper-arrow.arrow-prev {
        @media (max-width: 991px) {
          left: 0px;
        }
      }
      @media (max-width: 991px) {
        .wrapper-slider-parallax .swiper-arrow {
          color: var(--color-white);
        }
      }
    }

    &-content {
      min-height: calc(100% - 80px);
      width: calc(calc(calc(100% / 12) * 4.5) + 20px);
      background-color: var(--color-white);
      padding: 64px;

      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 3;

      display: flex;
      flex-direction: column;
      @media (max-width: 1200px) and (min-width: 992px) {
        padding: 32px;
      }
      @media (max-width: 991px) {
        position: static;
        width: 100%;
        padding: 32px 16px;
        transform: translateY(0);

        min-height: auto;
      }
      .info {
        margin-top: 16px;
        gap: 32px;
        @media (max-width: 1200px) and (min-width: 992px) {
          gap: 16px;
        }
        @media (max-width: 991px) {
          gap: 8px 16px;
        }
        li {
          display: flex;
          align-items: center;
        }

        img {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          object-fit: cover;
          margin-right: 12px;
          @media (max-width: 991px) {
            margin-right: 6px;
          }
        }
      }

      .desc {
        margin-top: 24px;
        margin-bottom: 40px;
        @media (max-width: 1200px) and (min-width: 991px) {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          margin-bottom: 24px;
        }
        @media (max-width: 991px) {
          margin-bottom: 24px;
        }
        p {
          &:not(:first-child) {
            margin-top: 24px;
          }
        }
      }

      .cta {
        gap: 40px;
        margin-top: auto;

        a {
          color: var(--color-gold);

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #b39c79, $alpha: 0.2);
          }

          &::before {
            background-color: var(--color-gold);
          }
        }
      }
    }
  }

  &.media-left {
    .box-media {
      margin-left: calc(calc(100% / 12) * 4.5);
      margin-right: 0;

      .swiper-arrow.arrow-prev {
        left: 40px;
      }

      .swiper-arrow.arrow-next {
        right: 10px;
      }
    }

    .box-content {
      left: 0;
      right: unset;
    }
  }
}
