.sectionAccordion {
  &-container {
    padding: 120px 40px;
    // background-color: var(--color-white);
    @media (max-width: 991px) {
      padding: 64px 16px;
    }
  }

  .accordion {
    &-main {
      margin-top: 60px;
      border: 1px solid var(--color-gold);
      padding: 12px 40px 16px;
      @media (max-width: 991px) {
        margin-top: 32px;
        padding: 0px 16px;
      }
    }

    &-header {
      position: relative;

      .icon {
        position: absolute;
        right: 0;
        top: 32px;
        width: 20px;
        height: 20px;

        svg {
          position: absolute;
          inset: 0;
          transition:
            transform 0.4s ease,
            opacity 0.4s ease;

          * {
            transition: all 0.4s ease;
          }

          &.icon-minus {
            opacity: 0;
          }
        }

        .icon-plus {
          transform: rotate(0);
        }
      }
    }

    &-button {
      border: none;
      color: var(--color-black);
      box-shadow: none;
      background-color: transparent;
      transition: all 0.4s ease;
      padding: 24px 0;
      border-radius: unset !important;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        column-gap: 12px;
      }
      &:not(.collapsed) {
        & + .icon {
          .icon-plus {
            opacity: 0;
            transform: rotate(90deg);
          }

          .icon-minus {
            opacity: 1;
          }
        }
      }

      &::after {
        display: none;
      }

      &:hover {
        color: var(--color-gold);
        @media (max-width: 1200px) {
          color: var(--color-black);
        }
        & + .icon {
          color: var(--color-gold);
        }
      }
    }

    &-item {
      border: none;
      background-color: transparent;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    &-body {
      padding: 0 0 24px;

      .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 24px;
        @media (max-width: 991px) {
          grid-template-columns: 1fr;
          gap: 0;
        }
        ul {
          padding-left: 24px;
          list-style: disc;
        }
      }

      .cta {
        margin-top: 24px;
      }
    }
  }
}
