.weddings {
  &-container {
    padding: 120px 40px;
    background-color: #f2f2f2;
    @media (max-width: 991px) {
      padding: 64px 16px;
    }
  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px 40px;
    margin-top: 60px;

    &__item {
      width: calc(calc(100% - 40px) / 2);

      @media (max-width: 767px) {
        width: 100%;
      }

      .item {
        &-media {
          .swiper {
            width: 100%;
            aspect-ratio: 660 / 470;
          }
        }

        &-content {
          margin: 24px auto 0;
          width: 100%;
          max-width: 66%;

          @media (max-width: 767px) {
            max-width: 100%;
          }

          .desc {
            margin-top: 16px;
          }

          .title {
            transition: color 0.4s ease;

            &:hover {
              color: var(--color-gold);
            }
          }
        }
      }
    }
  }
}
