.weddings {
  &-container {
    padding: 120px 40px;
    background-color: #f2f2f2;
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 120px 80px;
    }
    @media (max-width: 991px) {
      padding: 64px 16px;
    }
  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px 40px;
    margin-top: 60px;
    @media (max-width: 991px) {
      margin-top: 32px;
      gap: 48px 0;
    }
    &__item {
      width: calc(calc(100% - 40px) / 2);

      @media (max-width: 991px) {
        width: 100%;
      }

      .item {
        &-media {
          .swiper {
            width: 100%;
            aspect-ratio: 660 / 470;
          }
        }

        &-content {
          margin: 24px auto 0;
          width: 100%;
          max-width: 66%;
          @media (max-width: 1200px) {
            margin-top: 0;
            max-width: 100%;
            // background-color: var(--color-white);
            padding: 24px;
            padding-bottom: 0;
          }

          .desc {
            margin-top: 16px;
            @media (max-width: 991px) {
              margin-top: 24px;
            }
          }

          .title {
            transition: color 0.4s ease;

            &:hover {
              color: var(--color-gold);
            }
          }
        }
      }
    }
  }
  .wrapper-slider-parallax .swiper-arrow {
    @media (max-width: 991px) {
      color: var(--color-white);
    }
  }
  .wrapper-slider-parallax .swiper-arrow.arrow-prev,
  [slider-parallax] .swiper-arrow.arrow-prev {
    @media (max-width: 991px) {
      left: 0px;
    }
  }
  .wrapper-slider-parallax .swiper-arrow.arrow-next,
  [slider-parallax] .swiper-arrow.arrow-next {
    @media (max-width: 991px) {
      right: 0px;
    }
  }
}
