.wonderfulGallery {
  position: relative;
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column-reverse;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 80px 40px 120px;
    position: relative;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 0 16px 64px;
    }
    &::before {
      content: "";
      width: 0.5px;
      height: 100%;
      background-color: var(--color-black);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }

    .item-media {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .text {
        margin-top: 8px;
        padding-left: 16px;
        position: relative;
        width: max-content;
        @media (max-width: 991px) {
          margin-right: auto;
          margin-left: auto;
          padding-bottom: 12px;
        }
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--color-gold);

          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .item-one {
      width: calc(100% / 6 * 4);
      @media (max-width: 991px) {
        width: 100%;
      }
      img {
        width: 100%;
        aspect-ratio: 440 / 540;
        object-fit: cover;
      }
    }

    .item-two {
      width: calc(100% / 6 * 4);
      margin-top: 120px;
      margin-left: auto;
      @media (max-width: 991px) {
        width: 100%;
        margin-top: 64px;
      }
      img {
        width: 100%;
        aspect-ratio: 440 / 680;
        object-fit: cover;
      }
    }

    .item-three {
      width: calc(100% / 6 * 4);
      @media (max-width: 991px) {
        width: 100%;
      }
      img {
        width: 100%;
        aspect-ratio: 440 / 525;
        object-fit: cover;
      }
    }

    .item-four {
      width: calc(100% / 6 * 5);
      margin-top: 120px;
      @media (max-width: 991px) {
        width: 100%;
        margin-top: 64px;
      }
      img {
        width: 100%;
        aspect-ratio: 555 / 418;
        object-fit: cover;
      }
    }

    .content-left {
      grid-column: span 5;
      @media (max-width: 991px) {
        z-index: 3;
      }
      .item-media {
        .text {
          margin-left: auto;
          @media (max-width: 991px) {
            text-align: center;
            margin-right: auto;
          }
        }
      }
    }

    .content-center {
      grid-column: span 2;
    }

    .content-right {
      grid-column: span 5;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  .content-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    @media (max-width: 991px) {
      position: static;
      transform: translateX(0%);
      width: 100%;
      padding: 0 16px;
      max-width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f2f2f2;
      z-index: -1;
      width: 400px;
      height: 232px;
      pointer-events: none;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .title {
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      padding: 60px 0;
      background-color: #f2f2f2;
      @media (max-width: 991px) {
        position: static;
        transform: translateX(0%);
        width: 100%;
      }
    }
  }
  .item-media {
    @media (max-width: 991px) {
      background-color: #f2f2f2;
      z-index: 2;
      position: static;
    }
  }
}
