<div class="header-container">
  <div class="header-top d-flex justify-content-center align-items-center">
    <div class="header-top-logo">
      <a href="./index.html">
        <img src="./assets/images/use/logo-white.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="header-main">
    <div class="header-main--left d-flex align-items-center">
      <div class="header-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-space color-white"></div>
      <div class="header-logo-small">
        <a href="./index.html">
          <img src="./assets/images/use/logo-blue.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="header-main--center">
      <div class="header-main-menu">
        <ul>
          <li>
            <a
              href="./index.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">home</span>
            </a>
          </li>
          <li class="menu-item-has-children">
            <a
              href="./accommodations.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">accommodations</span>
              <div class="icon">
                <svg
                  width="9"
                  height="6"
                  viewBox="0 0 9 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                    stroke="currentColor"
                  />
                </svg>
              </div>
            </a>
            <div class="sub-menu">
              <ul>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >deluxe room</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >grand deluxe room</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >club room</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >deluxe suite</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >club suite</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >senator suite</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >presidential suite</a
                  >
                </li>
                <li>
                  <a
                    href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black"
                    >royal suite</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
              href="./dining.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">dining</span>
            </a>
          </li>
          <li>
            <a
              href="./events.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">meetings & events</span>
            </a>
          </li>
          <li>
            <a
              href="./weddings.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">Weddings</span>
            </a>
          </li>
          <li>
            <a
              href="./facilities.html"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">facilites</span>
            </a>
          </li>
          <li>
            <a
              href="./offers"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">offers</span>
            </a>
          </li>
          <li>
            <a
              href="./gallery"
              class="font-body color-white b2-font fw-semibold text-uppercase"
            >
              <span class="hover-underline-white">gallery</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-main--right">
      <div class="header-lang">
        <div class="lang-icon">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="10" cy="10" r="9.5" stroke="currentColor" />
            <path d="M19.8701 10.1334H0.129883" stroke="currentColor" />
            <path
              d="M11.667 0.588867C14.3008 3.63996 17.6217 12.4494 11.667 19.4111"
              stroke="currentColor"
            />
            <path
              d="M8.33301 0.588867C5.69919 3.63996 2.37828 12.4494 8.33301 19.4111"
              stroke="currentColor"
            />
          </svg>
        </div>
        <div class="dropdown-custom">
          <div class="dropdown-custom-btn">
            <div class="value-select">
              <span>EN</span>
            </div>
            <div class="icon">
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                  stroke="currentColor"
                />
              </svg>
            </div>
          </div>
          <div class="dropdown-custom-menu">
            <div class="dropdown-custom-item">
              <span>VI</span>
            </div>
            <div class="dropdown-custom-item">
              <span>CN</span>
            </div>
            <div class="dropdown-custom-item">
              <span>KO</span>
            </div>
            <div class="dropdown-custom-item">
              <span>JP</span>
            </div>
          </div>
        </div>
      </div>
      <div class="header-book">
        <a href="" class="btn-global">book now</a>
      </div>
    </div>
  </div>
</div>
