<div class="header-container">
    <div class="header-top d-flex justify-content-center align-items-center">
        <div class="header-top-logo">
            <a href="./index.html">
                <img src="./assets/images/use/logo-white.svg" alt="">
            </a>
        </div>
    </div>
    <div class="header-main">
        <div class="header-main--left d-flex align-items-center">
            <div class="header-hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="col-space color-white"></div>
            <div class="header-logo-small">
                <a href="./index.html">
                    <img src="./assets/images/use/logo-blue.svg" alt="">
                </a>
            </div>
        </div>
        <div class="header-main--center">
            <div class="header-main-menu">
                <ul>
                    <li>
                        <a href="" class="font-body color-white b2-font fw-regular text-uppercase">home</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-main--right"></div>
    </div>
</div>