<div class="header-container">
  <div class="header-top d-none d-lg-flex justify-content-center align-items-center">
    <div class="header-top-logo">
      <a href="./index.html">
        <img src="./assets/images/use/logo-white.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="header-main">
    <div class="header-main--left d-flex align-items-center">
      <div class="header-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-space color-white d-none d-lg-block"></div>
      <div class="header-logo-small d-none d-lg-block">
        <a href="./index.html">
          <img src="./assets/images/use/logo-blue.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="header-main-logo--mobile d-block d-lg-none">
      <a href="./index.html" class="logo-mobile-group position-relative">
        <img src="./assets/images/use/logo-white.svg" alt="" />
        <img src="./assets/images/use/logo-blue.svg" alt="">
      </a>
    </div>
    <div class="header-main--center d-none d-lg-flex">
      <div class="header-main-menu">
        <ul>
          <li>
            <a href="./index.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">home</span>
            </a>
          </li>
          <li class="menu-item-has-children">
            <a href="./accommodations.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">accommodations</span>
              <div class="icon">
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546" stroke="currentColor" />
                </svg>
              </div>
            </a>
            <div class="sub-menu">
              <ul>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">deluxe
                    room</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">grand deluxe
                    room</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">club room</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">deluxe
                    suite</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">club
                    suite</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">senator
                    suite</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">presidential
                    suite</a>
                </li>
                <li>
                  <a href="./*.html"
                    class="font-body b2-font fw-semibold color-black text-uppercase hover-underline-black">royal
                    suite</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="./dining.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">dining</span>
            </a>
          </li>
          <li>
            <a href="./events.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">meetings & events</span>
            </a>
          </li>
          <li>
            <a href="./weddings.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">Weddings</span>
            </a>
          </li>
          <li>
            <a href="./facilities.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">facilites</span>
            </a>
          </li>
          <li>
            <a href="./offers.html" class="font-body color-white b2-font fw-semibold text-uppercase">
              <span class="hover-underline-white">offers</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-main--right">
      <div class="header-lang">
        <div class="lang-icon">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" stroke="currentColor" />
            <path d="M19.8701 10.1334H0.129883" stroke="currentColor" />
            <path d="M11.667 0.588867C14.3008 3.63996 17.6217 12.4494 11.667 19.4111" stroke="currentColor" />
            <path d="M8.33301 0.588867C5.69919 3.63996 2.37828 12.4494 8.33301 19.4111" stroke="currentColor" />
          </svg>
        </div>
        <div class="dropdown-custom">
          <div class="dropdown-custom-btn">
            <div class="value-select">
              <span>EN</span>
            </div>
            <div class="icon">
              <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546" stroke="currentColor" />
              </svg>
            </div>
          </div>
          <div class="dropdown-custom-menu">
            <div class="dropdown-custom-item">
              <span>VI</span>
            </div>
            <div class="dropdown-custom-item">
              <span>CN</span>
            </div>
            <div class="dropdown-custom-item">
              <span>KO</span>
            </div>
            <div class="dropdown-custom-item">
              <span>JP</span>
            </div>
          </div>
        </div>
      </div>
      <div class="header-book d-none d-lg-flex">
        <a href="https://bookings.travelclick.com/86088?_gl=1*11vc350*_ga*MzAwMjE4MjkxLjE3NzM2MzQxMjg.*_ga_LZYTF83GCQ*czE3Nzk3Nzg4NjQkbzU1JGcwJHQxNzc5Nzc4ODY0JGo2MCRsMCRoMA..*_gcl_au*NTAzMzI1OTAwLjE3NzM2MzQxMjg.&adults=1&datein=05/26/2026&dateout=05/27/2026&domain=www.daewoohotel.com&languageid=1&rooms=1#/accommodation/room"
          class="btn-global" target="_blank">book now</a>
      </div>
    </div>
  </div>
</div>
<div class="header-main--popup menu-fixed-bottom">
  <div class="header-main--popup__top">
    <a href="./index.html" class="logo d-block">
      <img src="./assets/images/use/logo-blue-full.svg" alt="" />
    </a>
    <div class="header-hamburger active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul>
    <li>
      <a href="./index.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">Daeha Office Tower</span>
      </a>
    </li>
    <li>
      <a href="./recruitment.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">Daeha Services Apartment</span>
      </a>
    </li>
    <li>
      <a href="./destination.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">Destinations</span>
      </a>
    </li>
    <li>
      <a href="./recruitment.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">recruitment</span>
      </a>
    </li>
    <li>
      <a href="./news.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">News</span>
      </a>
    </li>
    <li>
      <a href="./gallery.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">gallery</span>
      </a>
    </li>
    <li>
      <a href="./contact.html" class="font-body color-black b2-font fw-semibold text-uppercase">
        <span class="hover-underline-white">Contact us</span>
      </a>
    </li>
  </ul>
  <div class="header-main--popup__bottom">
    <div class="b1-font color-black title font-heading">Contact Info</div>
    <ul class="d-flex flex-column color-black">
      <li class="b3-font d-flex align-content-center">
        <div class="icon">
          <img src="./assets/images/icons/icon-location.svg" alt="" />
        </div>
        360 Kim Ma, Giang Vo, Hanoi
      </li>
      <li class="b3-font d-flex align-content-center">
        <div class="icon">
          <img src="./assets/images/icons/icon-phone.svg" alt="" />
        </div>
        <a href="tel:+842438315000" class="hover-underline-black">+84 243 8315 000</a>
      </li>
      <li class="b3-font d-flex align-content-center">
        <div class="icon">
          <img src="./assets/images/icons/icon-mail.svg" alt="" />
        </div>
        <a href="mailto:reservation@daewoohotel.com" class="hover-underline-black">reservation@daewoohotel.com</a>
      </li>
    </ul>
  </div>
</div>
<div class="header-overlay"></div>