:root {
  --font-heading: "VNF-Optima", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #003c77;
  --color-gray: #76787a;
  --color-dark-blue: #1b1c4c;
  --color-gold: #b39c79;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.heading-1 {
  font-size: 40px;
  line-height: 1.4;
}

.heading-2 {
  font-size: 32px;
  line-height: 44px;
}

.heading-3 {
  font-size: 23px;
  line-height: 34px;
}

.b1-font {
  font-size: 16px;
  line-height: 28px;
}

.b2-font {
  font-size: 14px;
  line-height: 24px;
}

.btn-font {
  font-size: 13px;
  line-height: 24px;
}

.b3-font {
  font-size: 12px;
  line-height: 18px;
}

.b0-font {
  font-size: 10px;
  line-height: 14px;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-blue {
  color: var(--color-blue);
}

.color-gray {
  color: var(--color-gray);
}

.color-dark-blue {
  color: var(--color-dark-blue);
}

.color-gold {
  color: var(--color-gold);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .limit-width-11-col {
    max-width: 91.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-10-col {
    max-width: 83.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-9-col {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-8-col {
    max-width: 66.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-7-col {
    max-width: 58.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-6-col {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-body);
}

.btn-global {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: all 0.4s ease;
}
.btn-global:hover {
  background-color: var(--color-gold);
  color: var(--color-white);
}

.hover-underline-white,
.hover-underline-black {
  display: inline-block;
  position: relative;
}
.hover-underline-white:hover::before,
.hover-underline-black:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-white.active::before,
.hover-underline-black.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-white::before,
.hover-underline-black::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  bottom: 0px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-underline-black::before {
  background-color: var(--color-black);
}

.booking-form {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: var(--color-white);
  max-width: 66.6666666667%;
  width: 100%;
}
.booking-form-container {
  padding: 10px 20px;
}
.booking-form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.booking-form input {
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
}
.booking-form label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-black);
}
.booking-form .booking-item {
  gap: 12px;
}
.booking-form .booking-field input[type=number] {
  width: 35px;
}
.booking-form .select-people .select-box {
  top: 100%;
  transform: translateY(0);
  margin-top: 18px;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 991px) {
  .booking-form .select-people .select-box {
    margin-top: 12px;
    padding: 12px;
  }
}
.booking-form .select-people {
  position: relative;
}
.booking-form .select-people .select-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background-color: var(--color-white);
  margin-top: -20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px 12px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(-100%);
  z-index: 3;
}
@media (max-width: 991px) {
  .booking-form .select-people .select-box {
    background-color: var(--color-gray-1);
    border-radius: unset !important;
  }
}
.booking-form .select-people .select-box.active {
  opacity: 1;
  visibility: visible;
}
.booking-form .select-people .select-box .select {
  display: flex;
  align-items: center;
  gap: 8px;
}
.booking-form .select-people .select-box .select .min,
.booking-form .select-people .select-box .select .plus {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.booking-form .select-people .select-box .select .min:hover,
.booking-form .select-people .select-box .select .plus:hover {
  opacity: 0.4;
}
.booking-form .select-people .select-box .select .val {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}
.booking-form .select-people .select-box .adult,
.booking-form .select-people .select-box .child {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.booking-form .select-people .label {
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-body);
  color: var(--color-gray-2);
  font-weight: 500;
}

.lightpick {
  box-shadow: none;
  border-radius: 0;
  padding: 12px;
}
.lightpick > * {
  font-family: var(--font-body);
}
.lightpick .lightpick__month-title {
  font-family: var(--font-heading);
  margin-left: 0;
  padding-left: 0;
}
.lightpick .lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick .lightpick__day.is-start-date.is-in-range,
.lightpick .lightpick__day.is-end-date.is-in-range,
.lightpick .lightpick__day.is-start-date.is-in-range.is-flipped {
  background-color: var(--color-gold);
}
.lightpick .lightpick__day.is-start-date.is-end-date {
  background-image: none;
}
.lightpick .lightpick__day.is-today {
  background-image: none;
  color: var(--color-black);
}
.lightpick .lightpick__day.is-in-range {
  background-color: rgba(179, 156, 121, 0.2);
}
.lightpick .lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick .lightpick__day.is-start-date.is-in-range,
.lightpick .lightpick__day.is-end-date.is-in-range,
.lightpick .lightpick__day.is-start-date.is-in-range.is-flipped {
  border-radius: 0;
  color: var(--color-white);
}
.lightpick .lightpick__day.is-next-month,
.lightpick .lightpick__day.is-previous-month,
.lightpick .lightpick__day.is-disabled {
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
}
.lightpick .lightpick__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  border-top: 1px solid #e0e0e0 !important;
  border-left: 1px solid #e0e0e0 !important;
}
.lightpick .lightpick__day {
  margin: 0 !important;
  border: none !important;
  box-shadow: 1px 1px 0 0 #e0e0e0 !important;
}
.lightpick .lightpick__day.is-end-date,
.lightpick .lightpick__day.is-end-date:hover,
.lightpick .lightpick__day.is-start-date,
.lightpick .lightpick__day.is-start-date:hover,
.lightpick .lightpick__day:not(.is-disabled):hover {
  background-image: none;
  background-color: var(--color-gold);
  color: var(--color-white);
  font-weight: bold;
}
.lightpick .lightpick__day--empty {
  margin: 0 !important;
  border: none !important;
  box-shadow: 1px 1px 0 0 #e0e0e0 !important;
}
.lightpick .lightpick__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  border-top: 1px solid #e0e0e0 !important;
  border-left: 1px solid #e0e0e0 !important;
}
.lightpick .lightpick__days > * {
  margin: 0 !important;
  border: none !important;
  box-shadow: 1px 1px 0 0 #e0e0e0 !important;
}

#header {
  z-index: 999;
  transition: background-color 0.3s ease, transform 0.3s ease;
  --header-top-height: 104px;
}
#header.header-theme-light-active {
  transform: translateY(calc(-1 * var(--header-top-height)));
}
#header.header-theme-light-active .header-main {
  background-color: var(--color-white);
}
#header.header-theme-light-active .header-main-menu > ul > li > a {
  color: var(--color-black);
}
#header.header-theme-light-active .header-main-menu > ul > li > a:hover {
  color: var(--color-black);
}
#header.header-theme-light-active .header-main-menu > ul > li.menu-item-has-children > a .icon svg {
  color: var(--color-black);
}
#header.header-theme-light-active .hover-underline-white::before {
  background-color: var(--color-black);
}
#header.header-theme-light-active .header-hamburger span {
  background-color: var(--color-black);
}
#header.header-theme-light-active .header-logo-small {
  opacity: 1 !important;
  visibility: visible !important;
}
#header.header-theme-light-active .header-lang .lang-icon svg,
#header.header-theme-light-active .header-lang .icon svg {
  color: var(--color-black) !important;
}
#header.header-theme-light-active .header-lang .value-select span {
  color: var(--color-black) !important;
}
#header.header-theme-light-active .header-book .btn-global {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
#header.header-theme-light-active .header-book .btn-global:hover {
  background-color: var(--color-gold);
}
#header.header-theme-light-active .col-space {
  opacity: 1 !important;
  visibility: visible !important;
}
#header .header-top {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-white);
}
#header .header-top-logo a {
  display: inline-block;
  height: 73px;
  width: auto;
}
#header .header-main {
  padding: 0 40px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0 40px;
  transition: background-color 0.3s ease;
}
#header .header-main--left {
  gap: 0 24px;
}
#header .header-main--left .col-space {
  width: 1px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
#header .header-main--left .header-logo-small {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
#header .header-main--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}
#header .header-main-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
#header .header-main-menu ul li.menu-item-has-children {
  position: relative;
}
#header .header-main-menu ul li.menu-item-has-children .icon svg {
  transition: stroke 0.3s ease;
}
#header .header-main-menu ul li.menu-item-has-children::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -12px;
  width: calc(100% + 24px);
  height: 17px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
#header .header-main-menu ul li.menu-item-has-children:hover::before {
  opacity: 1;
  visibility: visible;
}
#header .header-main-menu ul li.menu-item-has-children:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
#header .header-main-menu ul li.menu-item-has-children > .sub-menu {
  position: absolute;
  top: 100%;
  left: -12px;
  background-color: var(--color-white);
  margin-top: 17.5px;
  width: max-content;
  padding: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
#header .header-main-menu ul li.menu-item-has-children > .sub-menu > ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
#header .header-main-menu ul li.menu-item-has-children > .sub-menu > ul li a {
  transition: all 0.3s ease;
}
#header .header-main-menu ul li.menu-item-has-children > .sub-menu > ul li a:hover {
  color: var(--color-black);
}
#header .header-main-menu ul li.menu-item-has-children > a {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
#header .header-main-menu ul li a:hover {
  color: var(--color-white);
}
#header .header-main-menu ul li a.active span::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header .header-lang {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
#header .header-lang span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
#header .header-lang .lang-icon svg,
#header .header-lang .icon svg {
  color: var(--color-white);
}
#header .header-lang .value-select {
  width: 20px;
}
#header .header-lang .value-select span {
  color: var(--color-white);
}
#header .header-lang .dropdown-custom {
  position: relative;
}
#header .header-lang .dropdown-custom-menu {
  position: absolute;
  top: 100%;
  margin-top: 17.5px;
  background-color: var(--color-white);
  left: -12px;
  width: 50px;
  padding: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
#header .header-lang .dropdown-custom-menu.dropdown--active {
  opacity: 1;
  visibility: visible;
}
#header .header-lang .dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
#header .header-lang .dropdown-custom-btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}
#header .header-hamburger {
  position: relative;
  width: 20px;
  height: 16px;
  cursor: pointer;
}
#header .header-hamburger::before {
  content: "";
  position: absolute;
  inset: -10px;
}
#header .header-hamburger.active span:nth-child(1) {
  top: 7.5px;
  transform: rotate(45deg);
}
#header .header-hamburger.active span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
#header .header-hamburger.active span:nth-child(3) {
  top: 7.5px;
  transform: rotate(-45deg);
}
#header .header-hamburger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  left: 0;
  transition: all 0.3s ease;
  opacity: 1;
}
#header .header-hamburger span:nth-child(1) {
  top: 0;
}
#header .header-hamburger span:nth-child(2) {
  top: 7.5px;
}
#header .header-hamburger span:nth-child(3) {
  top: 15px;
}

section.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
section.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 54%);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}
section.hero .hero-slider {
  width: 100%;
  height: 100%;
}
section.hero .swiper-arrow {
  margin: 0;
  width: auto;
  height: auto;
}
section.hero .swiper-arrow::after {
  font-size: 0;
  content: unset;
}
section.hero .swiper-arrow.swiper-button-next {
  right: 24px;
}
section.hero .swiper-arrow.swiper-button-prev {
  left: 24px;
}
section.hero .swiper-arrow svg {
  width: 8px;
  height: 32px;
}
section.hero .video {
  width: 100%;
  height: 100%;
  position: relative;
}
section.hero .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}